* {
    box-sizing: border-box;
}

.emo-btn {
    background: #ffffff;
    margin: 10px;
    padding: 5px 10px 5px 10px;
    border: 2px solid #abb2b8;
    border-radius: 5px;
}

.emo-btn:hover {
    background: #6b757d;
    color: #ffffff;
}
.wrapper {
   
    text-align: center;
    float: left;
}

.gif {
    width: 250px;
    height: 250px;
    margin: 0 10px 10px 10px;
  
}

.rating-text {
    width: 250px;
    text-align: left;
    margin: 10px 10px 0 10px;
}